* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background: #071739;
  height: 95px;
}

.logo {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo img {
  width: 170px;
  margin-top: 10px;
  display: block;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #22c55e;
}
